body {
  background: lightgray;
}
.Header,
.Order,
.Inventory {
  border: 1px solid #fff;
  background: #f7f7f7;
}
h2,
h4,
form,
input {
  text-align: center;
}
/* Store Picker */
form {
  max-width: 400px;
  margin: 1em auto;
  padding: 1em;

  border-radius: 4px;
  background: #ffaf81;
}
input {
  margin-bottom: 0.5em;
}
/* Header */
h1 {
  font-weight: 200;
  font-style: italic;

  margin: 0.4em 0.6em;
  padding: 0.1em 0 0.3em 0;

  text-align: center;
  letter-spacing: 0.15em;

  color: #fff;
  border: 1px solid #641a1f;
  border-radius: 3em;
  background: brown;
}
.tagline span {
  padding: 0.2em 1em;

  background: yellow;
  box-shadow: 3px 2px #888;
}
