body {
  font-family: Helvetica, Arial, serif;
  background: #d3d3d3;
  /* Fish */
  /* end of fish */
  /* Store Picker */
  /* AddForm */ }
  body .menu,
  body .Order,
  body .Inventory {
    height: 97vh; }
  body .menu {
    overflow-y: scroll; }
  body .menu,
  body .Order,
  body .Inventory {
    float: left;
    box-sizing: border-box;
    width: 33.33%;
    padding: 1em;
    border: 3px solid #d3d3d3;
    background: #f7f7f7; }
    body .menu button,
    body .Order button,
    body .Inventory button {
      cursor: pointer; }
  body .btn-y {
    font-weight: 800;
    margin: 1em 0;
    padding: 0.5em;
    color: #313131;
    border: none;
    background: yellow;
    box-shadow: 1px 1px #c0c2c2; }
  body button:focus {
    outline: 0; }
  body .fish {
    width: 300px;
    height: 105px;
    margin: 0 auto;
    cursor: pointer;
    perspective: 650px; }
    body .fish h1 {
      font-weight: 100;
      font-style: italic;
      position: relative;
      padding-top: 1.1em;
      text-align: center;
      letter-spacing: 0.15em;
      color: #fff; }
    body .fish .fish-body {
      position: relative;
      width: 300px;
      height: 105px;
      margin-top: 30px;
      margin-left: 10px;
      border-radius: 50%;
      background-color: orange; }
    body .fish .eye {
      position: absolute;
      z-index: 1;
      width: 20px;
      height: 20px;
      margin-top: 30px;
      margin-left: 250px;
      border-radius: 50%;
      background-color: white; }
    body .fish .pupil {
      position: absolute;
      z-index: 2;
      width: 10px;
      height: 10px;
      margin-top: 5px;
      margin-left: 5px;
      border-radius: 50%;
      background-color: black; }
    body .fish .fin {
      width: 80px;
      height: 50px;
      margin-top: -100px;
      margin-left: -20px;
      transform: rotate(40deg);
      border-radius: 50%;
      background-color: #ffa53c; }
    body .fish .fin-bottom {
      margin-top: -10px;
      transform: rotate(-40deg); }
  body .fish:hover .fish-fin {
    transform: rotateY(-5deg); }
  body .StorePicker {
    max-width: 400px;
    margin: 1em auto;
    padding: 1em;
    background: #f7f7f7; }
    body .StorePicker h2,
    body .StorePicker h4,
    body .StorePicker form,
    body .StorePicker input {
      width: 100%;
      text-align: center; }
    body .StorePicker .btn-y {
      display: block;
      margin: 1em auto;
      padding: 0.3em 2em;
      cursor: pointer;
      text-align: center; }
  body input {
    margin-bottom: 0.5em; }
  body .tagline span {
    padding: 0.3em 1em 0.2em 1em;
    background: yellow;
    box-shadow: 3px 2px #888; }
  body .Inventory .AddFishForm .fish-edit {
    display: block;
    width: 100%;
    margin: 0 auto; }
  body .Inventory .AddFishForm .fish-name,
  body .Inventory .AddFishForm .fish-price,
  body .Inventory .AddFishForm .fish-status,
  body .Inventory .AddFishForm .fish-desc,
  body .Inventory .AddFishForm .fish-image,
  body .Inventory .AddFishForm .btn {
    box-sizing: border-box;
    border: none;
    background: #fff; }
  body .Inventory .AddFishForm .fish-desc,
  body .Inventory .AddFishForm .fish-image,
  body .Inventory .AddFishForm .btn {
    width: 100%; }
  body .Inventory .AddFishForm .fish-name,
  body .Inventory .AddFishForm .fish-price,
  body .Inventory .AddFishForm .fish-status {
    width: 33.33333%; }
  body .menu .tagline {
    text-align: center; }
  body .menu ul {
    padding: 0;
    list-style: none; }
  body .menu .list-of-fishes {
    margin-top: 2em; }
  body .menu .menu-fish div {
    position: relative;
    float: left;
    overflow: hidden;
    width: 130px;
    height: 130px;
    margin: 0 1em 1em 0;
    box-shadow: 3px 3px yellow; }
    body .menu .menu-fish div img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100%;
      transform: translate(-50%, -50%); }
  body .menu .menu-fish h3 {
    margin-top: 1.2em; }
    body .menu .menu-fish h3 span {
      float: right; }
  body .menu .menu-fish .btn-y {
    font-size: 0.65em;
    font-style: italic;
    box-sizing: border-box;
    transition: 0.5s all;
    color: #000; }
  body .menu .menu-fish .btn-y[disabled] {
    font-style: normal;
    cursor: auto;
    transform: translate(11px, -54px) scale(2.5) rotate(-10deg);
    opacity: 0.9;
    color: red; }
  body .menu .menu-fish:after {
    display: block;
    clear: both;
    content: ''; }
  body .Order ul {
    padding: 0;
    list-style: none; }
    body .Order ul li .price {
      float: right; }
